<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.DacFx.x86" version="130.3485.1" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Management.Sdk.Sfc.dll" version="1.0.1" targetFramework="net40-Client" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net40" />
  <package id="NUnit" version="3.5.0" targetFramework="net40" />
  <package id="Unofficial.Microsoft.SQLServer.SMO" version="11.0.3000.0" targetFramework="net40" />
</packages>